---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About whenisf1.at">
  This page is a small project to help you check the f1 schedule without being
  spoiled. It uses data from the Motor Racing Developer API at <a
    href="https://ergast.com/mrd/">Ergast.com</a
  >

  It is built using <a href="https://astro.build">Astro</a>.
</Layout>
