---
import Page from "../layouts/Page.astro";
---

<Page>
  <div class="text-left flex flex-col gap-2">
    <h1 class="text-5xl">About</h1>
    <p>
      WhenIsF1.at a small project to help you check the F1 schedule without
      being accidentally spoiled.
    </p>

    <p>
      It uses data from the Motor Racing Developer API at <a
        class="underline"
        href="https://ergast.com/mrd/">Ergast.com</a
      >.
    </p>

    <p>
      It is built using <a class="underline" href="https://astro.build">Astro</a
      >.
    </p>

    <p>
      The race changes to the next on the schedule on Monday mornings following
      a race.
    </p>

    <p>
      Check out the project on <a
        class="underline"
        href="https://github.com/aslakhol/whenisf1">GitHub</a
      >.
    </p>

    <p>
      Get in touch with the <a
        class="underline"
        href="mailto:aslak@shera.no?subject=Contact from whenisf1.at"
        >developer of whenisf1.at</a
      >.
    </p>
  </div>
</Page>
