---
import Page from "../layouts/Page.astro";
---

<Page>
  <h1>About</h1>
  <p>
    This page is a small project to help you check the f1 schedule without being
    spoiled. It uses data from the Motor Racing Developer API at <a
      href="https://ergast.com/mrd/">Ergast.com</a
    >
  </p>

  <p>
    It is built using <a href="https://astro.build">Astro</a>.
  </p>

  <p>
    The race changes to the next on the schedule on Monday mornings following a
    race.
  </p>

  <p>
    Check out the project on <a href="https://github.com/aslakhol/whenisf1"
      >GitHub</a
    >
  </p>

  <p>
    Get in touch with the <a
      href="mailto:aslak@shera.no?subject=Contact from whenisf1.at"
      >developer of whenisf1.at</a
    >.
  </p>
</Page>
