---
import Layout from "../layouts/Layout.astro";
---

<Layout title="When is F1">
  <main>
    <h1>Qualifying at Monza starts in 3 hours.</h1>
    <div>
      <span>UTC: 14:00</span>
      <span>Your time: 16:00</span>
    </div>
    <div>
      <div>FP1</div>
      <div>FP2</div>
      <div>FP3</div>
      <div>Qualifying</div>
      <div>Race</div>
    </div>
  </main>
  <footer>
    <a href="schedule">Race schedule</a>
    <a href="about">About whenisf1.at</a>
  </footer>
</Layout>
