---
import RaceSessionLink from "./RaceSessionLink.astro";

export interface Props {
  isSprint: boolean;
}

const { isSprint } = Astro.props;
---

<div class="flex flex-col gap-4">
  <div class="flex justify-center gap-4 flex-col md:flex-row">
    <RaceSessionLink href="/fp1" label="FP1" />
    {
      isSprint ? (
        <>
          <RaceSessionLink href="/sq" label="SQ" />
          <RaceSessionLink href="/sprint" label="Sprint" />
        </>
      ) : (
        <>
          <RaceSessionLink href="/fp2" label="FP2" />
          <RaceSessionLink href="/fp3" label="FP3" />
        </>
      )
    }
  </div>
  <div class="flex justify-center gap-4 flex-col md:flex-row">
    <RaceSessionLink href="/qualifying" label="Qualifying" />
    <RaceSessionLink href="/" label="Racing" />
  </div>
</div>
