---
import RaceTime from "./RaceTime";

export interface Props {
  goTime: Date;
}

const { goTime } = Astro.props;
---

<div class="flex w-1/2 flex-col items-center md:flex-row md:justify-around">
  <span class="p-4 bg-brand-secondary rounded text-center w-40 h-14">
    <RaceTime goTime={goTime} when={"UTC"} />
  </span>
  <span class="p-4 bg-brand-secondary rounded text-center w-40 h-14">
    <RaceTime goTime={goTime} when={"Your time"} client:only={"react"} />
  </span>
</div>
