---
import RaceTime from "./RaceTime";

export interface Props {
  goTime: Date;
}

const { goTime } = Astro.props;
---

<div
  class="flex w-1/2 flex-col items-center md:flex-row md:justify-around gap-4 md:gap-0"
>
  <span class="p-4 bg-brand-secondary rounded text-center w-40 h-14">
    UTC: <RaceTime goTime={goTime} utc={true} />
  </span>
  <span class="p-4 bg-brand-secondary rounded text-center w-40 h-14">
    Your time: <RaceTime goTime={goTime} client:only={"react"} />
  </span>
</div>
