---
export interface Props {
  label: string;
  href: string;
}

const { label, href } = Astro.props;
---

<a href={href}>
  <div class="border rounded uppercase hover:underline p-2 bg-slate-200">
    {label}
  </div>
</a>
