---
export interface Props {
  label: string;
  href: string;
}

const { label, href } = Astro.props;
---

<a
  class="rounded uppercase p-2 bg-slate-200 w-32 text-center drop-shadow-lg hover:bg-slate-300"
  href={href}
>
  {label}
</a>
