---
import type monza from "../monza.json";
import RaceTableEntry from "./RaceTableEntry";
import RaceTableHeadings from "./RaceTableHeadings";

type Races = typeof monza.MRData.RaceTable.Races;

export interface Props {
  races: Races;
}

const { races } = Astro.props;
---

<table class="min-w-1/2 divide-y divide-gray-300">
  <thead class="bg-gray-50">
    <RaceTableHeadings />
  </thead>
  <tbody class="divide-y divide-gray-200 bg-white">
    {
      races.map((race) => (
        <RaceTableEntry race={race} utc={false} client:load />
      ))
    }
  </tbody>
</table>
