---
export interface Props {
  goTime: Date;
}

const { goTime } = Astro.props;
---

<span
  >Server time: {
    goTime.toLocaleTimeString("en-GB", {
      hour: "numeric",
      minute: "numeric",
    })
  }
</span>
