---
export interface Props {
  title: string;
}
import PostHog from "../components/posthog.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <PostHog />
  </head>
  <body>
    <slot />
    <style>
      :root {
        --color-bg: #15151e;
        --color-text: white;
        --color-accent: #e10500;
        --color-secondary: #38383f;
        --color-footer: #15151e;
      }

      p,
      h1,
      body {
        color: var(--color-text);
      }
    </style>
  </body>
</html>
