---
import type monza from "../monza.json";
import WhenPage from "./WhenPage.astro";

type DataType = typeof monza;

type SessionKey =
  | "FirstPractice"
  | "SecondPractice"
  | "ThirdPractice"
  | "Qualifying"
  | "Sprint"
  | undefined;

export interface Props {
  session: string;
  sessionKey?: SessionKey;
}

const { session, sessionKey } = Astro.props;

const data: DataType = await fetch(
  "http://ergast.com/api/f1/current/next.json"
).then((res) => res.json());

const isSprint = "Sprint" in data.MRData.RaceTable.Races[0];

let key: SessionKey = sessionKey;

if (isSprint && sessionKey === "ThirdPractice") {
  key = "Sprint";
}

if (!isSprint && sessionKey === "Sprint") {
  key = "ThirdPractice";
}

const circuit = data.MRData.RaceTable.Races[0].Circuit.Location.locality;

const race = !key
  ? data.MRData.RaceTable.Races[0]
  : data.MRData.RaceTable.Races[0][key];

const { date, time } = race;

const goTime = new Date(date + "T" + time);
---

{
  !data ? (
    <h1>API request failed</h1>
  ) : (
    <WhenPage
      session={session}
      goTime={goTime}
      circuit={circuit}
      isSprint={isSprint}
    />
  )
}
