---
import Page from "./Page.astro";
import Schedule from "../components/Schedule.astro";
import type monza from "../monza.json";
---

<Page>
  <h1 class="text-5xl pt-8">Race Schedule</h1>
  <p>The times are shown in your local timezone.</p>

  <div class="overflow-scroll max-w-full">
    No races
    <!-- <Schedule races={races} /> -->
  </div>
</Page>
