---
import Countdown from "../components/Countdown";
import RaceSessionLink from "../components/RaceSessionLink.astro";
import YourTime from "../components/YourTime";
import Layout from "../layouts/Layout.astro";

export interface Props {
  session: string;
  goTime: Date;
  circuit: string;
}

const { session, goTime, circuit } = Astro.props;

const footerHeight = "4rem";
---

<Layout title="When is F1">
  <main
    class="bg-brand-bg flex flex-col justify-center items-center min-h-screen-content gap-8"
  >
    <p class="text-center px-4 text-3xl">
      <span class="capitalized">{session}</span> at <span class="capitalized"
        >{circuit}
      </span> starts in:
    </p>
    <Countdown goTime={goTime} client:idle />
    <div class="flex w-1/2 flex-col items-center md:flex-row md:justify-around">
      <span class="p-4 bg-brand-secondary rounded w-40 text-center"
        >UTC: {
          goTime.toLocaleTimeString("en-GB", {
            timeZone: "UTC",
            hour: "numeric",
            minute: "numeric",
          })
        }
      </span>
      <YourTime goTime={goTime} client:idle />
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex justify-center gap-4 flex-col md:flex-row">
        <RaceSessionLink href="/fp1" label="FP1" />
        <RaceSessionLink href="/fp2" label="FP2" />
        <RaceSessionLink href="/fp3" label="FP3" />
      </div>
      <div class="flex justify-center gap-4 flex-col md:flex-row">
        <RaceSessionLink href="/qualifying" label="Qualifying" />
        <RaceSessionLink href="/" label="Racing" />
      </div>
    </div>
  </main>
  <footer class="bg-brand-footer flex justify-around items-center">
    <a class="hover:underline" href="schedule">Race schedule</a>
    <a class="hover:underline" href="about">About whenisf1.at</a>
  </footer>
</Layout>

<style define:vars={{ footerHeight }}>
  .min-h-screen-content {
    min-height: calc(100vh - var(--footerHeight));
  }

  footer {
    height: var(--footerHeight);
  }
</style>
